@{
    ViewData["Title"] = "Home Page";
}
@model NumToWordsCurrency.Models.Form
<div class="text-center">
    <h1 class="display-4">Number To Words Converter</h1>
    <p>Please type a number from 1-999999999.99 to be translated to cents and dollars.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Home" asp-action="Output">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input" class="control-label"></label>
                <input asp-for="Input" class="form-control" />
                @Html.ValidationMessage("InvalidInput", new { @class = "text-danger" })
                @Html.ValidationMessage("Error", new { @class = "text-danger" })
                <span asp-validation-for="Input" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model!=null)
{
    if (Model.Output != "" && Model.Output != null)
    {
        <div class="row">Output: @Model.Output</div>
    }
}
@*<div class="row">Output: @Model.Output</div>*@

